services:

  nginx:
    container_name: nginx
    image: nginx:latest
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./conf.d:/etc/nginx/conf.d
    depends_on:
      - admin_dashboard
    networks:
      - redcorss-network

  backend_api:
    container_name: backend_api
    image: backend_api:0.1.0
    restart: always
    ports:
      - 3000:3000
    env_file:
      - .env
    depends_on:
      - mysql-db
    networks:
      - redcorss-network

  mysql-db:
    container_name: mysql_db
    image: mysql:9.2.0
    restart: always
    ports:
      - "3306:${MYSQL_PORT}"
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USERNAME}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    volumes:
      - ./db_data:/var/lib/mysql
    networks:
      - redcorss-network

  phpmyadmin:
    container_name: phpmyadmin
    image: phpmyadmin/phpmyadmin:5.2.2
    restart: always
    environment:
      PMA_HOST: mysql-db
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    ports:
      - "8080:80"
    networks:
      - redcorss-network

  admin_dashboard:
    container_name: admin_dashboard
    build:
      context: ./frontend
      dockerfile: Dockerfile
    restart: always
    ports:
      - "8085:3000"
    env_file:
      - .env
    networks:
      - redcorss-network

networks:
  redcorss-network:
    driver: bridge

volumes:
  db_data:
